* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 1150px;
  height: 600px;
  background: #f4f7fc;
  margin: 0 auto 0 auto;
}
.logo > a > img {
  height: 80px;
  margin: 10px 10px 10px 20px;
}
ul {
  display: flex;
  margin: 10px 80px 20px 20px;
  align-items: flex-start;
}
ul > a > li {
  padding: 2em 2em;
  font-weight: bold;
  color: black;
}
.aside {
  width: 400px;
  background-color: #1c1c26;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
}
.search {
  display: flex;
}
input {
  margin-left: 150px;
  height: 28px;
}
.aside > form > button {
  border: none;
}
.aside > form > button > img {
  height: 28px;
  background: black;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
.container {
  position: absolute;
  width: 800px;
  height: 400px;
  overflow: hidden;
  margin-top: 100px;
  margin-left: 20px;
}
.container .wrap {
  position: absolute;
  width: 4800px;
  height: 400px;
  z-index: 1;
}
.container .wrap img {
  float: left;
  width: 800px;
  height: 400px;
}
.buttons {
  position: absolute;
  right: 400px;
  bottom: 40px;
  width: 150px;
  height: 10px;
  z-index: 2;
}
.buttons > span {
  margin-left: 8px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  color: white;
  cursor: pointer;
}
.buttons span.on {
  background-color: #86afe7;
}
.arrow_left {
  position: absolute;
  border: 1px solid white;
  bottom: 40px;
  left: 20px;
  color: white;
  padding: 0 5px;
  border-radius: 50%;
  background: black;
}
.arrow_right {
  position: absolute;
  border: 1px solid black;
  bottom: 40px;
  left: 55px;
  color: black;
  padding: 0 5px;
  border-radius: 50%;
  background: white;
}
.content {
  border: 1px solid grey;
  width: 282px;
  height: 400px;
  margin-right: 20px;
  margin-top: -28px;
}
.content1 {
  margin: 50px 0 0 30px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.content2 {
  margin: 10px 0 0 30px;
  font-size: 30px;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.content3 {
  margin: 10px 0 0 30px;
}
.content4 {
  margin: 10px 0 0 30px;
  font-size: 10px;
  width: 240px;
  color: grey;
  letter-spacing: 0.2em;
}
.content5 {
  display: inline-block;
  margin: 30px 0 0 30px;
  border: 1px solid #3e8af4;
  color: #3e8af4;
  padding: 0 1em;
}
.content6 {
  display: inline-block;
  margin: 30px 0 0 50px;
  background: #3e8af4;
  color: black;
  padding: 0 1em;
}
@media screen and (max-width: 414px) {
  .header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #f4f7fc;
    margin: 0 auto 0 auto;
  }
  .logo > a > img {
    height: 6vh;
    margin: 4vw 16vw 4vw 4vw;
  }
  ul {
    display: flex;
    height: 4vh;
    margin: 4vw 8vw 2vw 2vw;
    align-items: flex-start;
    position: relative;
  }
  ul > a > li {
    padding: 2vw;
    font-weight: lighter;
    color: black;
  }
  .aside {
    width: 100vw;
    height: 60vh;
    background-color: #1c1c26;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px;
    margin-top: 28vh;
  }
  input {
    margin-left: 0;
    height: 2vh;
  }
  .aside > form > button {
    border: none;
  }
  .aside > form > button > img {
    height: 2vh;
    background: black;
    vertical-align: middle;
  }
  .search {
    display: flex;
  }
  input {
    height: 3vh;
  }
  .aside > form > button {
    margin-right: 25vw;
    border: none;
  }
  .aside > form > button > img {
    height: 3vh;
    background: black;
    vertical-align: middle;
  }
  a {
    text-decoration: none;
  }
  .container {
    position: absolute;
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    margin-top: 10vh;
    margin-left: 0;
  }
  .content {
    border: none;
    width: 282px;
    height: 400px;
    margin-right: 20px;
    margin-top: -28px;
  }
  .arrow_left {
    position: absolute;
    border: 1px solid white;
    bottom: 55vh;
    left: 2vw;
    color: white;
    padding: 0 5px;
    border-radius: 50%;
    background: black;
  }
  .arrow_right {
    position: absolute;
    border: 1px solid black;
    bottom: 55vh;
    left: 90vw;
    color: black;
    padding: 0 5px;
    border-radius: 50%;
    background: white;
  }
}
